@import "../abstracts/vars";
@import "../abstracts/mixins";
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  backface-visibility: hidden;

  &--main {
    display: block;

    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1.5s ease-out;
    @include media-query(phone) {
      letter-spacing: 1.2rem;
      font-size: 6rem;
    }
  }

  &--sub {
    width: inherit;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation: moveInRight 1.5s ease-out;

    @include media-query(phone) {
      letter-spacing: 0.9rem;
      font-size: 2rem;
    }
  }
}

.heading-secondary {
  max-width: 90vw;
  transition: all 0.2s;
  display: inline-block;
  font-size: 3.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;

  &:hover {
    transform: skewY(2deg) skewX(5deg) rotateY(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 8px rgba(0, 0, 0, 0.151);
    @include media-query(tab-port) {
      transform: none;
      text-shadow: none;
    }
  }

  @include media-query(tab-port) {
    font-size: 3rem;
  }
  @include media-query(phone) {
    font-size: 2.5rem;
  }
}

.heading-tetriary {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.5rem;
}
