@import "../abstracts/vars";

.u-center-text {
  text-align: center;
}

.u-margin-bottom-huge {
  margin-bottom: $margin-huge;
}

.u-margin-bottom-medium {
  margin-bottom: $margin-medium;
}
.u-margin-bottom-big {
  margin-bottom: $margin-big;
}
.u-margin-bottom-small {
  margin-bottom: $margin-small;
}
