@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin btn-volume-animation {
  &:hover {
    cursor: pointer;
    transform: translateY(-5%);
    box-shadow: 0.3rem 0.3rem 0.3rem rgba($color-black, 0.4);
  }
  &:active {
    transform: translateY(-2%);
    box-shadow: 0.2rem 0.2rem 0.3rem rgba($color-black, 0.4);
  }
}

//media query manager
/*
valid arguments: phone, tab-port, tab-land
*/

@mixin media-query($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 78.5em) {
      @content;
    }
  }
}
