@import "../abstracts/vars";

.section-about {
  height: 95vh;
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -15vh;
}

.section-features {
  margin-top: -8.3rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.5),
      rgba($color-primary-dark, 0.5)
    ),
    url("./assets/img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);

  > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  margin-top: -8rem;
  padding: 25rem 0;
  // background-color: bisque;
}

.section-stories {
  position: relative;
  // height: 95vh;
  padding: 15rem 0;
  .btn-secondary {
    transform: translateX(-50%);

    &:hover {
      transform: translate(-50%, -5%);
    }
  }
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );
}
