@import "../abstracts/vars";
@import "../abstracts/mixins";

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
  max-width: 90vw;
  @include media-query(tab-port) {
    width: 45rem;
    height: 75rem;
    margin: 0 auto;
    border: 1px solid rgba($color-black, 0.2);
    border-radius: 3px;
    box-shadow: 3px 3px 8px rgba($color-black, 0.3);
  }

  [class*="__side--"] {
    overflow: hidden;
    border: 1px solid rgba($color-black, 0.2);
    border-radius: 3px;
    box-shadow: 3px 3px 8px rgba($color-black, 0.3);
    height: 50rem;
    transition: all 0.7s ease;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    @include media-query(tab-port) {
      backface-visibility: visible;
      // height: 60rem;
    }
  }

  &__back-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    @include media-query(tab-port) {
      top: 55%;
    }
    p {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.5rem;
      margin-bottom: 5.5rem;

      @include media-query(tab-port) {
        margin-bottom: 1rem;
      }
    }
    span {
      display: block;
      padding-top: 0rem;
      line-height: 7rem;
      font-weight: 100;
      font-size: 6rem;
      @include media-query(tab-port) {
        font-size: 5rem;
        line-height: 6rem;
      }
    }
  }

  &__side {
    &--back {
      transform: rotateY(180deg);
      @include media-query(tab-port) {
        height: 25rem !important;
        top: 50rem !important;
        transform: none !important;
        border: none !important;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &--front {
      ul {
        padding-top: 1rem;
        font-size: 2rem;
        li {
          display: inline-block;
          width: 80%;
          padding: 0.5rem;
          &:not(:last-child) {
            border-bottom: 1px solid rgba($color-black, 0.1);
          }
        }
      }
      @include media-query(tab-port) {
        height: 55rem !important;
        border: none !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        box-shadow: none !important;
      }
    }
  }

  &__hero {
    height: 23rem;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // position: relative;
  }

  &__heading {
    // display: inline-block;
    width: 75%;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.8rem;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    // margin-top: -5rem;
    color: $color-white;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
    @include media-query(tab-port) {
      transform: none;
    }
  }
  &:hover &__side--back {
    transform: rotateY(360deg);
  }
}
