@import "../abstracts/vars";
@import "../abstracts/mixins";
.row {
  margin: 0 auto;
  max-width: $grid-width;
  // background-color: #eee;

  @include clearfix;
  @include media-query(tab-port) {
    // max-width: 60rem;
    // width: 90%;
    margin: auto 5%;
  }
  [class^="col-"] {
    // height: 5rem;
    // background-color: sandybrown;
    // display: inline-block;
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horisontal;

      @include media-query(tab-port) {
        margin-right: 0;
      }
    }

    @include media-query(tab-port) {
      width: 100% !important;
      margin-bottom: $gutter-vertical;
      // padding: 3rem 5rem;

      // margin: 0 5%;
    }
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  .col-1-of-2 {
    width: calc((100% - $gutter-horisontal) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - $gutter-horisontal * 2) / 3);
  }

  .col-2-of-3 {
    width: calc(
      (100% - $gutter-horisontal) - (100% - $gutter-horisontal * 2) / 3
    );
  }

  .col-1-of-4 {
    width: calc((100% - $gutter-horisontal * 3) / 4);
  }

  .col-2-of-4 {
    width: calc(
      (100% - $gutter-horisontal) - ((100% - $gutter-horisontal) / 4) * 2
    );
  }
}
